{% load static %}


<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Yogya Dictionary</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="{% static 'style.css' %}">

<body>

  <div class="main">
    <div class="con">
      <h2>Thank you for Searching</h2>
    </div>
    <div class="container2">
      <h3 class=" ans">Meaning: {{meaning}}</h3>

    
    </div>
  </div>



</html>